{% extends 'production/base/base_index.html' %}

{% load i18n %}
{% load static %}
{% block aditional-css %}
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/gorus.css' %}">
    <style>
    .ui-datepicker-inline {
        width: 100%;
    }
    .ui-datepicker-header {
        padding: 20px 10px !important;
        background: #00c4b9 !important;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        padding: 13px;
        background: #00c4b9;
        text-align: center;
    }
    .ui-state-active {
        background: rgba(255, 235, 59, 0.42) !important;
    }
    </style>
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>

      <!-- forum -->
      <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="doctor_id" value="{{ doctor.id }}">
          <input type="hidden" name="date" id="doctor_time" value="08/15/2017">
               <!-- birinci seyfe -->
               <div class="container">
                  <div class="row ust">
                     <div class="col-md-12 col-sm-12 col-xs-12 b">
                        <b>{% trans 'Rəy bildir' %}</b>
                     </div>
                  </div>
                  <div class="row cont">
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <ul class="profile">
                           <li>
                               {% if doctor.user.profile_picture %}
                                   <img style="width: 78px" src="/media/{{ doctor.user.profile_picture }}" alt="">
                               {% else %}
                               <i class="fa fa-user-md" style="font-size:100px"></i>
                               {% endif %}
                           </li>
                           <li>{{ doctor.user.get_full_name }}</li>
                           <li>{% for z in doctor.get_xestelik %}{{ z.xestelik.name }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}</li>
                           <li>{{ doctor.base_name }}</li>
                        </ul>
                        <div class="col-md-3 col-sm-3 col-xs-12 hekimigor">
                           <br>

                           <div>
                                <textarea class="ziyaret" name="sebeb" required placeholder="{% trans 'Rəy bildir' %}" cols="40" rows="5"></textarea>

                           </div>
                        </div>
                     </div>
                     <!-- gun teyin elemek -->
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                         <div id="meet-calendar"></div>
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-6 offset">
                        <input class="thm-btn btn-primary btnNext" type="submit" value="{% trans 'Təstiqlə' %}">
                     </div>
                  </div>
               </div>
            </div>




      </form>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
{% endblock %}